<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>twipro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
        html {
          display: table;
        }
        body {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="container-fluid text-center">
        <h1 class="display-5 ">twipro</h1>
        <p class="text-muted">This web service allows you to get more information about your Twitter account.<br>Please click <a href="https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/user-object">here</a> for the information that can be obtained.</p>
        <form action="/" method="POST">
            <button type="submit" class="btn btn-primary btn-sm">Signin with Twitter</button>
        </form>
    </div>
</body>
</html>